html {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

body {
    background: white
}

.header {
  padding: 10px;
  text-align: center;
  background:black;
  color: white;
  font-size: 30px;
  border: 1px solid;
  
}

.container{
  text-align: center;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  background: red;
  color: #ffffff;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  font-family: "Times New Roman", Times, serif;
}
  .center {
        text-align: center;
        list-style-position: inside;
      }
    
    .editable {
      border: 1px solid green;
      padding: 20px;
      width: 15%
    }

    h1 {
        color:  red;
      }
